.homePage {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 90vh;
    z-index: 1;
}
.homePage .homePage__header {
    position: relative;
    display: flex;
    font-family: 'Parisienne', cursive;
    font-size: 7rem;
    font-weight: bold;
    justify-content: center;
    color: #429C87;
    top: 25%;

}
.homePage .homePage__subheader {
    position: relative;
    display: flex;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    justify-content: center;
    color: #429C87;
    top: 25%;
}