.Main-Div {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 90vh;
    z-index: 1;
}
.Main-Div .header {
    position: relative;
    display: flex;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    color: #429C87;
}
.Main-Div .content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    font-family: 'Prisieme', cursive;
    font-size: 1.5rem;
    font-weight: 500;
    color: #429C87;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}




/* Icons in box */
@import url('//fonts.googleapis.com/css?family=Roboto:500');

@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

.social-icons {
  width: 100%;
  height: 150px;
  position: relative;
  top: 5vh;
  margin-top: 0;
  text-align: center;
}

.social-icons  .item {
    width: 150px;
    height: 150px;
    background-color: #429C87;
    display: inline-block;
    margin: 0 16px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    line-height: 90px;
    color: #ffffff;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0,0,0,.2);
}

.social-icons .item::before {
    background-color: #DFECE8;
    display: block;
    font-size: 4.2em;
    font-weight: normal;
    line-height: 150px;
    color: #429C87;
    transition: font-size .5s, line-height .5s;
}

.social-icons .item:hover:before {
    font-size: 200%;
    line-height: 50px;
 }