.projects {
    position: relative;
    margin-left: 10vw;
    margin-right: 10vw;
    height: 90vh;
    z-index: 1;
}
.projects .projects__header {
    position: relative;
    display: flex;
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
    font-weight: bold;
    justify-content: center;
    color: #429C87;

}

.cards {
    display: flex;
    align-items: flex-start;
      justify-content: center;
  }

/* .homePage .homePage__subheader {
    position: relative;
    display: flex;
    font-family: 'Pacifico', cursive;
    font-size: 2rem;
    justify-content: center;
    color: #429C87;
    top: 25%;
}  */