html {
	-webkit-text-size-adjust: 100%;
	box-sizing: border-box;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-x: hidden;
	overflow-y: scroll;
	text-rendering: optimizeLegibility;
	font-size: 14px;
	overscroll-behavior: none;
}

html:not(input) {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
}

a {
	text-decoration: none;
	cursor: pointer;
}

iframe {
	border: 0;
}

article,
aside,
figure,
footer,
hgroup,
section {
	display: block;
}

code,
pre {
	-moz-osx-font-smoothing: auto;
	-webkit-font-smoothing: auto;
	line-height: 1.5px;
}

body {
	color: white;
	height: 100%;
	margin: 0 auto;
	font-weight: 400;
	font-size: 14px;
	width: 100%;
	overscroll-behavior: none;
	background-color: black;
	@media (max-width: 1024px) {
		overflow: hidden;
	}
}

input[type='text'][inputmode='numeric'] {
	box-sizing: border-box;
}

svg:not(:root) {
	overflow: hidden;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
div[role='button']:focus {
	outline: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	padding: 0;
}

.hideScrollBar::-webkit-scrollbar {
	display: none;
}

footer img {
	width: auto !important;
}

* {
	-webkit-touch-callout: none;
}

@media screen and (max-width: 1024px) {
	html {
		height: 100%;
	}

	#__next {
		height: 100%;
	}
}
