/* sidebar */
.sidebar {
    position: relative;
}

.sidebar button{
    position: fixed;
    left: 40px;
    top: 40px;
    z-index: 10;
    cursor: pointer;
}

.navmenu {
    overflow-y: scroll;
    list-style: none;
    position: fixed;
    top: 0;
    background: darkcyan;
    left: 0;
    bottom: 0;
    height: 100vh;
    width: 0;
    overflow: hidden;
    max-width: 290px;
    z-index: 9;
}

.navmenu .showmenu {
    width: 100%;
}

li a {
    color: darkcyan;
}
li a:hover {
    text-decoration: none;
}
li a:visited{
    text-decoration: none;
}

.navmenu li:first-child {
    margin-top: 7rem;
}

.Nav .ImageLink img {
    padding: 0%;
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    margin-top: 10%;
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(-20rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}
