:root {
    --cloud-anim-time : 25s;
    --cloud-height : 10vh;
}
.Background {
    background-color: #DFECE8;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    height: 100vh;
    width: 100vw;
    z-index: -10;
    overflow: hidden;
}

.mt {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
}

.mt-1 {
    z-index: -9;
    left: 55%;
}

.mt-1 img {
    width: 70vw;
    height: 60vh;
}


.mt-2 {
    z-index: -8;
    left: 25%;
}

.mt-2 img {
    width: 51vw;
    height: 54vh;
}

.mt-3 {
    z-index: -7;
    left: 75%;
}

.mt-3 img {
    width: 54vw;
    height: 42vh;
}

.Background .cloud1 {
    position: absolute;
    top: 10vh;
    animation: cloudanimation 45s linear -25s infinite;
}

.Background .cloud2 {
    position: absolute;
    top: 25vh;
    animation: cloudanimation 50s linear -10s infinite;
}

.Background .cloud3 {
    position: absolute;
    top: 40vh;
    animation: cloudanimation 65s linear -2s infinite;
}

.Background .cloud4 {
    position: absolute;
    top: 50vh;
    animation: cloudanimation 40s linear -15s infinite;
}


@keyframes cloudanimation {
    0% {
        transform: translateX(-10vw);
    }
    100% {
        transform: translateX(110vw);
    }
}
